:root {
    --tablecolor: #248560;
    --bgcolor: #fce8be;
    --pokerFont: 'Oswald', sans-serif;
}

* {
    font-family: var(--pokerFont);
}

body {
    background-color: var(--bgcolor);
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 5px;
}

.containerWhole {
    display: flex;
    border-radius: 10px;
}

.tableP {
    background-color: var(--tablecolor);
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    width: 100vw;
    height: 90vh;
    border-radius: 120px;
}

.innerRingDiv {
    display: flex;
}

.innerRing {
    border: 10px solid yellow;
    border-radius: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
}

.river {
    display: flex;
}

.riverCard {
    border: 3px solid black;
    width: 40px;
    height: 80px;
    margin-left: 5px;
}

.card {
    display: flex;
}

/* .playerContainer {
    border: 3px solid black;
} */

#p1 {
    position: absolute;
    top: 100px;
    left: 100px;
}

#p2 {
    position: absolute;
    top: 100px;
    left: 1200px;
}

#p3 {
    position: absolute;
    top: 800px;
    left: 100px;
}

#p4 {
   position: absolute;
   top: 800px;
   left: 1200px; 
}